In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# List of files and corresponding city names
files = ['Islamabad_export.csv', 'Karachi_export.csv', 'Lahore_export.csv', 'Peshawar_export.csv', 'Quetta_export.csv']
cities = ['Islamabad', 'Karachi', 'Lahore', 'Peshawar', 'Quetta']

# Combine data from all cities into one DataFrame
dataframes = []
for file, city in zip(files, cities):
    df = pd.read_csv(file)
    df['city'] = city  # Add a city column
    dataframes.append(df)

# Concatenate all DataFrames
combined_data = pd.concat(dataframes, ignore_index=True)

# Convert 'date' column to datetime
combined_data['date'] = pd.to_datetime(combined_data['date'])

# Handle missing data (example: fill missing values with 0 or drop rows)
combined_data.fillna(0, inplace=True)

combined_data

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,city
0,2024-01-01,11.5,6.3,19.0,0.0,0.0,128.0,3.4,0.0,1019.9,0.0,City1
1,2024-01-02,8.0,5.4,13.3,0.0,0.0,125.0,4.3,0.0,1019.7,0.0,City1
2,2024-01-03,7.2,5.2,12.6,0.0,0.0,153.0,3.2,0.0,1020.1,0.0,City1
3,2024-01-04,9.2,4.8,16.1,0.0,0.0,149.0,3.1,0.0,1019.8,0.0,City1
4,2024-01-05,10.8,6.0,16.1,0.0,0.0,162.0,2.1,0.0,1019.5,0.0,City1
...,...,...,...,...,...,...,...,...,...,...,...,...
1670,2024-11-26,14.4,6.6,25.0,0.0,0.0,292.0,5.3,0.0,1016.3,0.0,City5
1671,2024-11-27,14.2,6.0,25.4,0.0,0.0,305.0,5.2,0.0,1015.6,0.0,City5
1672,2024-11-28,15.0,9.4,22.0,0.0,0.0,323.0,4.2,0.0,1017.5,0.0,City5
1673,2024-11-29,13.9,11.0,17.0,0.0,0.0,305.0,5.8,0.0,1019.8,0.0,City5
1674,2024-11-30,13.1,8.0,20.4,0.0,0.0,336.0,4.3,0.0,1016.9,0.0,City5